<form method='post' action='/entries'>
  <div>
  Enter Title
  <input name="title" type=text />
</div>
<div>
  Enter Body
  <div>
  <textarea name="body" type=text>

  </textarea>
</div>
</div>
  <input type="submit" value="Submit"/>
</form>
